.strike{
  text-decoration: line-through;
  cursor: pointer;
  background-color: rgb(42, 253, 42);
}
.App {
  background-color: #fef602;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 50px;
}
.form {
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: centre;
}
.header {
  display: block;
  background-color: rgb(106, 186, 247);
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  
}
.header-text {
  position: relative;
  text-align: center;

}
.submit {
  cursor: pointer;
}
.body{
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  align-items: center;
}
